:root{
    --color-set-one-1: #1B1464!important;
    --color-set-one-2: #f63605!important;
    --color-set-one-5: #213438!important;
    --preloader-background-color-2: #213438!important;
    --preloader-background-color: #2D947A!important;
}